body {
	font-family: "Crimson Text";
	font-weight: 400;
	color: #323232;
	max-width: 1800px; 
	margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
	float: none !important; 
}

.footer {
  height:300px
}
    
h1 {
	font-family: "Catamaran";
	font-variant: small-caps;
	font-size: 60px;
	color: rgb(219, 188, 188);
	font-weight: 900;
	font-kerning: 50;
	margin: 0px 0px 30px 0px  ;
	height: 40px;
}

h3{
    color: #f4c245;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: white;
}

.chart{
    width: 330px;
}
