/* This is my first proper css file */

@import url("https://fonts.googleapis.com/css2?family=Poppinswght@300&family=Poppins:wght@600");

body {
    background-color: #00ABFF;
    max-width: 90%;
    margin: auto;
}

.bodyText {
  color: white;
  margin-bottom: -22px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
}

.pagecontainer {
    display: grid;
}


/* --------------------------------------- HEADER CONTENT --------------------------------------*/
/* Data Science Title */
h1 {
    color: rgb(190, 0, 0); /*Dark red*/
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

/* Name */
h2 {
    color: white;
    font-weight: lighter;
    font-size: 25px;
    margin-top: -35px;
}

h3 {
    color: #33DAFF;
    font-weight: lighter;
    font-size: 15px;
    font-size: 20px;
    margin-top: -55px;
}

h4 {
    color: #F7931A; /*Bitcoin colour*/
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: -30px;
    font-weight: bold;
    text-align: center;
    animation: border-pulsate 2s infinite;
    border-color: orange;
    border-radius: 10px;
    border-style: groove;
    border-width: 5px;
}
    

p {
    color: #9101D8;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    margin-top: -7px;
    margin-bottom: 7px;

}

.hcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border: 4px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

header {
    font-family: 'Poppins', sans-serif;
}
/* --------------------------------------- END HEADER CONTENT --------------------------------------*/


/* ------------------------------ BODY CONTENT -------------------------------- PARTLY INSPIRED BY TAHA ADAMALY [FLEX BOXES/FLEX-GROW] */

.bcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;;
  gap: 30px 30px;
  margin-top: 30px;
  border-style: solid;
  border-color: white;
  padding: 20px;
  border-radius: 25px;
}

.bcontainerproject {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;;
    gap: 30px 30px;
    padding: 20px;
    border-radius: 25px;
    margin-top: 30px;
    border-style: solid;
    border-color: white;
}

.chart{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    transition: border-radius 500ms, flex-grow 1000ms;
    width: 45%;
    min-width: 350px;
}


#firstChart, #sixteenthChart, #seventeenthChart, #eighteenthChart, #nineteenthChart, #chart1, #chart2, #chart5{
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  transition: padding 500ms, border-radius 500ms;
  width: 100%;
  min-width: 300px;
}

.chart:hover, #firstChart:hover, #sixteenthChart:hover, #seventeenthChart:hover, #eighteenthChart:hover, #nineteenthChart:hover, #chart1:hover, #chart2:hover, #chart5:hover {
  border-color: rgb(104, 5, 242);
  border-radius: 5px;
  flex-grow: 1;
}

/* --------------------------------------- END BODY CONTENT --------------------------------------*/

footer {
    height: 100px;
}

/* --------------------------------------- EXTRA SAUCE --------------------------------------*/

/* Multi-button on navigation bar. From freefrontend and codepen.io/hexagoncircle/pen/wvBmvOG */

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }
  
  * {
    box-sizing: border-box;
  }

  .multi-button {
    display: flex;
    width: 100%;
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: uppercase;
    text-shadow: var(--shadow) 3px 3px;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }

/* Keyframe code for project title to pulsate different colours, from rapidcharts.io and Richard Davies*/
@keyframes border-pulsate {
  0%   { border-color: #22e68b}
  10%  { border-color: rgba(230, 34, 75, 0)}
  20%  { border-color: rgba(230, 34, 75)}
  30%  { border-color: rgba(230, 34, 75, 0)}
  40%  { border-color: rgba(0, 47, 167)}
  50%  { border-color: rgba(230, 34, 75, 0)}
  60%  { border-color: rgba(250, 250, 0)}
  70%  { border-color: rgba(230, 34, 75, 0)}
  80% { border-color: #22e68b}
}

@media only screen and (max-width: 450px) {
  body {
    max-width: 90%;
    margin: auto;
  }
  .multi-button button {
    font-size: 1rem;
  }
  .chart {
    min-width: 350px;
    padding: 10px;
  }
  .chart:hover {
    border-color: rgb(104, 5, 242);
  }
  .bcontainer {
    border-style: none;
    padding: 1px;
    gap: 10px 10px;
  }
}
